$primary-color: #7ba614;
$secondary-color: #495c64;
$light-color: #ddd;
$medium-color: #aaa;
$dark-color: #333;
$font-stack: Arial, Helvetica, sans-serif;
$website-width: 1030px;

// $primary-1: ;
// $primary-2: ;
// $primary-3: ;

// $mono-1: ;
// $mono-2: ;
// $mono-3: ;