@import 'variables';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  line-height: 1.5;
  color: $dark-color;
}

img {
  height: 100%;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
  color: $dark-color;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

.main-wrap {
  max-width: $website-width;
  padding: 1.5rem;
  margin: auto;
}

// HEADER
header {
  // Branding / Logo
  // Note: Shrink h1 & .lead size on mobile
  #branding {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;

      i {
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        margin-right: 0.5rem;
        background: $primary-color;
        color: #fff;
        border-radius: 5px;
      }

      .branding-text {        
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  // Navbars
  #nav {
    // Nav: Mobile / Dropdown
    &-drop ul {
      // display: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 3rem;
      width: 100%;
        
      // Dropdown list item
      .nav-drop-item {
        display: block;
        padding: 0.75rem 0;
        margin: 0.25rem 0;
        text-align: center;
        width: inherit;
        font-size: 1.1rem;
        font-weight: 600;
        border-bottom: 1px solid $medium-color;
        &:last-child { border: none; }

        // Hide nested ul by default
        ul {
          display: none !important;
        }

        &:hover {
          cursor: pointer;
          background: $primary-color;
          color: #fff;
          border-radius: 10px;
        }
      }
      .nav-drop-item.nav-current {
        background: $primary-color;
        color: #fff;
        border-radius: 10px;
      
        // Nested dropdown show
        // "nav-show" class is assigned on button click
        ul {
          display: block !important;
            
          li {
            display: block;
            padding: 0.5rem 0;
            border-bottom: 1px dotted #fff;
            a { color: #fff; }

            &:last-child {
              border: none;
            }

            &:hover {
              background: #fff;
              a { color: $dark-color; }
            }
          }
        }
      }
    }

    // Nav: Widescreen
    &-wide {
      display: none;
      // display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      // Dropdown list item
      .nav-wide-item {
        width: 9rem;
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 0.75rem 1rem;
        background: $primary-color;
        color: #fff;
        border-radius: 5px;
        
        // Hide nested ul by default
        ul {
          display: none;
        }

        &:hover {
          cursor: pointer;
          background: #ccc;
          color: $dark-color;
          border-radius: 5px 5px 0 0;

          // Nested dropdown show
          ul {
            display: block;
            position: absolute;
            left: 0;
            width: 170px;
            margin-top: 0.75rem;
            background: #ccc;
            border-radius: 0 5px 5px 5px;
            box-shadow: 0 5px 5px rgba(0,0,0,0.3);

            li {
              display: block;
              padding: 0.5rem;

              a {
                padding: 0.5rem;
              }

              &:hover {
                background: $primary-color;
                a { color: #fff; }
              }
            }
          }
        }
      }
            
      // Header search bar
      .nav-wide-search {
        margin: 0.5rem 0;

        input {
          font-size: 1.25rem;
          height: 2.3rem;
          width: 13rem;
          padding-left: 8px;
          border: 1px solid $dark-color;
          border-radius: 3px;
        }

        .btn {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }
  }
}

// HOME PAGE

section#home {
  // Section: Showcase
  &-showcase {
    // Image billboard
    #billboard {
      margin: 1rem 0;

      #bb-img-wrap {
        max-width: 800px; // Set to scale w/ img height
        height: 350px; // Set to img height
        margin: auto;
        background: green;
      }

      // Billboard buttons
      #bb-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0.25rem 0;
        list-style: none;

        .bb-btn {
          display: inline-block;
          width: 30px;
          height: 12px;
          margin: 0 0.5rem;
          border: none;
          border-radius: 3px;
          background: $dark-color;

          &-current {
            background: #fff;
            border: 1px solid $dark-color;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  // Section: Events
  &-events {
    .events-wrap {
      margin: 1rem 2rem;

      div {
        margin: 1.5rem 0;
        padding: 1rem 2rem;
        background: $light-color;
        border: 1px solid $medium-color;

        h3 {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
        }

        p.event-date {
          margin-top: 1rem;
          color: $secondary-color;
          text-decoration: underline;
        }
      }
    }
  }

  // Section: Features
  &-featured {
    margin-top: 3rem;

    // Show different book lists based on selected age group
    .featured-wrap {
      margin: 2rem 0;
      padding: 2rem 0;
      background: $light-color;
      border-radius: 10px;

      .category-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        button {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin: 0 1rem;
          width: 150px;
          height: 50px;

          &#featured-kids-btn {
            background: #5e88aa;
            
            &.current {
              background: #fff;
              color: #5e88aa;
              border: 2px solid #5e88aa;
            }
          }

          &#featured-teens-btn {
            background: #47855e;
            
            &.current {
              background: #fff;
              color: #47855e;
              border: 2px solid #47855e;
            }
          }

          &#featured-adults-btn {
            background: #b34d4d;
            
            &.current {
              background: #fff;
              color: #b34d4d;
              border: 2px solid #b34d4d;
            }
          }
        }
      }

      .featured-list {
        display: none;
  
        &.current {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-self: center;
  
          li {
            margin: 2rem;
          }
        }
      }
    }
  }
}



// FOOTER
footer .footer-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background: $secondary-color;
  color: #fff;

  #social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem ;
    
    li {
      margin: 0 2.5rem;
      i {
        color: #fff;
      }
    }
  }

  #contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    div {
      text-align: center;
      margin: 0 2rem;
      text-transform: uppercase;
      
      p { color: #fff; }
    }
  }
}